/* join */
.join-Box {
  width: 30%;
  margin: auto;
  font-family: 'Pretendard',sans-serif;
  margin-bottom: 40%;
  margin-top: 10%;
}

.join-ment {
  color: #777;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.2px;
  text-transform: capitalize;
  margin: 20px 0;
}

.join-PW {
  margin-bottom: 20px;
}

.join-Box h1 {
  color: var(--main-black, #000);
  text-align: center;
  font-family: 'Pretendard',sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.2px;
  text-transform: capitalize;
  margin: 15px 0;
}

.join-Box h3 {
  color: #ABABAB;
  text-align: center;
  font-family: 'Pretendard',sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.2px;
  text-transform: capitalize;
  margin: 0 0 40px 0;
  
}

.join-basic{
  border-radius: 10px;
  cursor:pointer;
  background-color: #D3D3D3;
  width: 100%;
  height: 80px;
  color: rgba(255, 255, 255, 0.80);
  text-align: center;
  font-family: 'Pretendard',sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.2px;
  text-transform: capitalize;
  margin-top: 50px;
  transition: background-color 0.3s;
  background-color: black;

}
.join-basic:active {
  background-color: #E87C3E; 
}
.join-basic:hover {
  background-color: #E87C3E; 
  
}

.input-icon {
  margin-top: 20px;
  width: 100%;

}

.active-input {
  background-color: rgb(147, 147, 147);
  border-radius: 10px;
  border: 1px solid rgb(106, 106, 106);
}


.imagePre {
  margin: auto 0;
}