.container {
  margin: 0 auto;
}

.innerContainer {
  margin: 0 auto;
  width: calc(70% - 20px);
  padding: 20px;
}

.innerContainer h2 {
  font-size: 36px;
  font-weight: 700;
  text-align: center;
}

.cmtContainer {
  padding: 65px 33px;
  margin: 47px 0;
  border-top: 1px solid #a7a7a7;
  border-bottom: 1px solid #a7a7a7;
}

.cmtContainer ul {
  display: flex;
  flex-direction: column;
  gap: 38px;
}
