.container {
  margin: 0 auto;
}

.innerContainer {
  margin: 0 auto;
  width: 100%;
  max-width: 780px;
  padding: 20px;
}

.innerContainer h2 {
  font-size: 36px;
  font-weight: 700;
  text-align: center;
}

.innerContainer>ul li {
  border-bottom: 0;
}

.cmtContainer {
  padding: 30px 20px;
  margin: 47px 0;
  border-top: 1px solid #a7a7a7;
  border-bottom: 1px solid #a7a7a7;
}

.cmtContainer ul {
  display: flex;
  flex-direction: column;
  gap: 38px;
}
@media (max-width: 480px){
  .innerContainer {
    padding: 0;
  }
  .innerContainer>form {
    padding: 0 15px;
  }
}
