.pageWrap {
  width: calc(100% - 50px);
  max-width: 1000px;
  margin: 0 auto;
  position: fixed;
  top: 50%;     
  left: 50%;
  transform: translate(-50%, -50%);
  z-index:1000;
  background-color: white;
  border: 1px solid black;
  max-height: 90vh;
  overflow-y: scroll;
}
.pageWrap::-webkit-scrollbar {
  width: 18px;
}
.pageWrap::-webkit-scrollbar-thumb {
  height: 30%;
  border: 6px solid #fff;
  background: #c7c7c7;
}
.pageWrap::-webkit-scrollbar-track {
  background: #ffffff;
}

.contentArea {
  width: 100%;
  padding: 35px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10%;
}

.title {
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 5%;
}

.more-show {
  width: 70px;
  background-color: #E87C3E;
  color: white;
  border: none;
  border-radius: 40px;
  padding: 10px;
  margin-top: 10px;
  position: sticky;
  float: right;
}

.example-books {
  padding-bottom: 20px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-bottom: 100px;
  overflow-x: scroll;
}
.example-books::-webkit-scrollbar {
  height: 7px;
}
.example-books::-webkit-scrollbar-thumb {
  height: 30%;
  background: #E87C3E;
  border-radius: 20px;
}
.example-books::-webkit-scrollbar-track {
  background: #eee;
  border: 2px solid #fff
}
.example-books-title {
  margin: 20px 0;
  font-size: 12px;
  color: #999;
}
.example-books-title>strong {
  display: block;
  padding: 5px 0;
  border-bottom: 1px solid #c7c7c7;
  font-family: "Pretendard-Bold";
  font-size: 15px;
  color: #E87C3E;
}
.example-books > div {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}
.example-books img {
  width: 120px;
  height: 150px;
  transition: all 0.2s;
}
.example-books > div:hover {
  perspective: 600px;
}
.example-books img:hover {
  box-shadow: 2px 2px 5px 0 rgba(0,0,0,0.1);
  transform: rotateY(-45deg);
}
.example-books p {
  font-family: "Pretendard-Bold";
  width: 120px;
  overflow-wrap: break-word;
  text-align: center;
  font-size: 12px;
  /*2줄 말줄임 처리*/
  overflow:hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.show-result {
  margin-bottom: 50px;
  margin-left: 30px;
}

.emphasis {
  color: #E87C3E;
  font-weight: bold;
}

.search-result {
  display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 10px;
    width: 100%;
}

.zero {
  border-bottom: 1px solid #ccc;
  width: 100%;
}

.all-zero {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
  margin-left: 30px;
}

.center-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.no-result {
  margin-top: 50px;
  margin-bottom: 50px;
  font-weight: bold;
}

.check {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ccc;
  font-size: 12px;
  margin-left: 100px;
}

.closeBtn{
  margin: 10px 10px 0 0 ;
  float: right;
}
/* DisplayBooks css */
p strong {
  font-weight: bold;
}
.disbooks_list{
  padding-top: 20px;
}
.disbooks_wrap{
  margin-bottom: 20px;
  border: solid 1px black;
  border-radius: 5px;
  padding: 10px 0 10px 0;
}
.disbooks_title{

}
.disbooks_author{

}
.disbooks_cover{

}
.disbooks_descrip{

}
.disbooks_link{
  color: #E87C3E;
  padding: 0 5px 8px 0;
  transition: all 0.2s;
}
.disbooks_link:hover{
  font-family: "Pretendard-Medium";
}
.disbooks_flexwrap{
  display: flex;
  justify-content: space-between;
  align-items: center;
}