.box {
  background: var(--main-black, #000);
  width: 100%;
  height: 859.5px;
  position: absolute;
  /* bottom: 0; */
  font-family: "WorkSans-VariableFont_wght.ttf",sans-serif;
}

.box p {
  color: white;
  font-family: "WorkSans-VariableFont_wght.ttf",sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 2px;
}


.linkedin-Icon {
  background: no-repeat center url(/public/icon/linkedin.svg);
  width: 26px;
  height: 26px;
  border-radius: 50%;
  border:2px solid rgba(255, 255, 255, 0.2);
  padding: 20px;

}

.facebook-Icon {
  background: no-repeat center url(/public/icon/facebook.svg);
  width: 26px;
  height: 26px;
  border-radius: 50%;
  border:2px solid rgba(255, 255, 255, 0.2);
  padding: 20px;
}

.share-Icon {
  background:no-repeat center url(/public/icon/icon1.svg);
  width: 26px;
  height: 26px;
  border-radius: 50%;
  border:2px solid rgba(255, 255, 255, 0.2);
  padding: 20px;

}

.readwe-Right {
  display: inline-block;
  margin-top: 10px;
}


.container-1 {
  position: absolute;
  left: 10%;
  top: 80%;
}


.container-2 {
  display: flex;
  gap: 20px;
  position: absolute;
  left: 80%;
  top: 80%;
}
.container-Box {
  position: relative;
  left: 86%;
  top: 50%;
  padding-top: 10%;
}

.box-1 {
  background: no-repeat center url(/public/icon/더보기.svg);
  width: 60px;
  height: 60px;
  border: 3px solid white;
}
.box-2 {
  background: no-repeat center url(/public/icon/더보기.svg);
  width: 60px;
  height: 60px;
  border: 3px solid white;
  rotate: 180deg;
  margin-top: -2px;

}

/* Input */
input.basic {
  width: 100%;
  height: 80px;
  padding: 30px 24px;
  background-color: #fff;
  box-shadow: 0px 0px 4px 0px rgba(133, 133, 133, 0.25);
  border-radius: 10px;
  font-size: 18px;
  color: #000;
}

.input-label {
  color: rgb(255, 163, 163);
  font-size: 15px;
  font-weight: 400;
}

.input-label input.basic {
  margin-bottom: 15px;
}

.input-icon {
  position: relative;
}

.input-icon .icon {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
}

.input-icon input.basic {
  padding-left: 50px !important;
}

input.basic::placeholder {
  color: #A7A7A7;
}

input.basic:disabled {
  box-shadow: 0px 0px 4px 0px rgba(133, 133, 133, 0.25);
  border: none;
}

input.basic:focus {
  border: none;
  outline: 1px solid #000;
}

input.basic.gray {
  background-color: rgba(167, 167, 167, 0.50);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border: none;
}

input.basic.gray::placeholder {
  color: #fff;
}

input.basic.gray:focus {
  outline: 1px solid #000;
}

input.basic.gray:disabled {
  color: #1212;
}

input.basic.md {
  height: 45px;
}

input.basic.sm {
  height: 34px;
  font-size: 12px;
  padding: 5px 12px;
}

input.basic.xsm {
  height: 24px;
  font-size: 12px;
  padding: 5px 12px;
}



/*=================icon css=================*/
.icon {
  vertical-align: middle;
  display: inline-flex;
  background-size: contain;
  background-repeat: no-repeat;
}

.icon::before {
  display: inline-block;
  content: '';
  vertical-align: middle;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.icon-setting {
  width: 28px;
  height: 28px;
  background-image: url(/public/images/icon/setting.svg);
}

.icon-dot {
  width: 15px;
  height: 7px;
  background-image: url(/public/images/icon/dot.svg);
}

.icon-user-w {
  width: 16.8px;
  height: 19.2px;
  background-image: url(/public/images/icon/user-w.svg);
}

.icon-lock-w {
  width: 14.4px;
  height: 19.2px;
  background-image: url(/public/images/icon/lock-w.svg);
}

.icon-user-g {
  width: 16.8px;
  height: 19.2px;
  background-image: url(/public/images/icon/user-g.svg);
}

.icon-lock-g {
  width: 14.4px;
  height: 19.2px;
  background-image: url(/public/images/icon/lock-g.svg);
}

.icon-email-w {
  width: 18px;
  height: 13.304px;
  background-image: url(/public/images/icon/email-w.svg);
}

.icon-home {
  width: 18px;
  height: 18px;
  background-image: url(/public/images/icon/home.svg);
}

.icon-chat {
  width: 18px;
  height: 18px;
  background-image: url(/public/images/icon/chat.svg);
}

.icon-book {
  width: 16.985px;
  height: 19.2px;
  background-image: url(/public/images/icon/book.svg);
}

.icon-my {
  width: 17.525px;
  height: 15px;
  background-image: url(/public/images/icon/my.svg);
}

.icon-like {
  width: 25px;
  height: 25px;
  background-image: url(/public/images/icon/like.svg);
}

.icon-like-active {
  width: 25px;
  height: 25px;
  background-image: url(/public/images/icon/like-active.svg);
}

.icon-comment {
  width: 28px;
  height: 28px;
  background-image: url(/public/images/icon/comment.svg);
}

.icon-search {
  width: 22.548px;
  height: 24px;
  background-image: url(/public/images/icon/search.svg);
}

.icon-search-btn {
  width: 15px;
  height: 15px;
  background-image: url(/public/images/icon/search-btn.svg);
}

.icon-share {
  width: 10px;
  height: 13.75px;
  background-image: url(/public/images/icon/share.svg);
}

.icon-star {
  width: 15px;
  height: 15px;
  background-image: url(/public/images/icon/star.svg);
}

.icon-star-active {
  width: 15px;
  height: 15px;
  background-image: url(/public/images/icon/star-active.svg);
}


@media screen and (max-width: 767px) {
  .box {
    height: 500px; /* 원하는 높이로 변경 */
    padding: 20px;
  }
  .box p {
    font-size: 8px;
  }

  .container-Box .box-1, .box-2{
    width: 30px;
    height: 30px;
    background-size: 10px;
    border: 1px solid white;
  }

  .container-2 .linkedin-Icon,.facebook-Icon,.share-Icon {
    background-size:60%;
    width: 14px;
    height: 14px;
    border:1px solid rgba(255, 255, 255, 0.3);
    padding: 10px;
  }

  .container-Box {
    left: 90%;
  }
  .container-2 {
    left: 75%;
  }

}