.mobile-footer-wrap {
  display: none;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #fff;
  box-shadow: 0px 1px 20px 0px #0000000d;
}

.mobile-footer-wrap ul {
  margin: 0 auto;
  width: 100%;
  max-width: 480px;
  padding-top: 15px;
  padding-bottom: 20px;
  height: 85px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mobile-footer-wrap ul .obj {
  width: 60px;
}
.mobile-footer-wrap ul .obj.post-btn .obj-link{
  position: relative;
  bottom: 20px;
  width: 70px;
  height: 70px;
  border-radius: 100%;
  background-color: #E87C3E;
  box-shadow: 0px 1px 20px 0px #0000000d;
}
.mobile-footer-wrap ul .obj.post-btn .obj-link::before {
  content: '';
  width: 90px;
  height: 90px;
  z-index: -1;
  background-color: #e87c3e62;
  position: absolute;
  top: calc(50% - 45px);
  left: calc(50% - 45px);
  border-radius: 100%;
  animation: postBtnAni 1s infinite alternate;
}

.mobile-footer-wrap ul .obj-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  gap: 6px;
}
.mobile-footer-wrap ul .obj-link i {
  width: 20px;
  height: 20px;
}

.mobile-footer-wrap ul .obj.post-btn .obj-link i {
  rotate: 45deg;
  filter: invert(1);
}
.mobile-footer-wrap ul .obj-link i::before {
  width: 20px;
  height: 20px;
}

@keyframes postBtnAni {
  0%   { scale: 60% }
  100%  { scale: 100%;}
}

@media (max-width: 830px){
  .mobile-footer-wrap {
    display: block;
  }
}