li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li .cmtImgText {
  display: flex;
  gap: 33px;
}

li .cmtImgText .cmtImg {
  width: 134px;
  height: 134px;
  border-radius: 70%;
  overflow: hidden;
}

li .cmtImgText .cmtImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

li .cmtImgText .cmtText {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

li .cmtImgText .cmtText strong {
  font-weight: 700;
}

li .cmtImgText .cmtText p {
  font-size: 20px;
}

li .dateLike span {
  color: #a7a7a7;
  margin-right: 51px;
}
