.box {
  background: var(--main-black, #000);
  width: 1920px;
  height: 859.5px;
  position: absolute;
  font-family: "WorkSans-VariableFont_wght.ttf",sans-serif;

}

.box p {
  color: white;
  font-family: "WorkSans-VariableFont_wght.ttf",sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 2px;
}


.linkedin-Icon {
  background: no-repeat center url(../public/icon/linkedin.svg);
  width: 26px;
  height: 26px;
  border-radius: 50%;
  border:2px solid rgba(255, 255, 255, 0.2);
  padding: 12px;

}

.facebook-Icon {
  background: no-repeat center url(../public/icon/facebook.svg);
  width: 26px;
  height: 26px;
  border-radius: 50%;
  border:2px solid rgba(255, 255, 255, 0.2);
  padding: 12px;
}

.share-Icon {
  background:no-repeat center url(../public/icon/icon1.svg);
  width: 26px;
  height: 26px;
  border-radius: 50%;
  border:2px solid rgba(255, 255, 255, 0.2);
  padding: 12px;

}

.readwe-Right {
  display: inline-block;
  margin-top: 10px;
}


.container-1 {
  position: absolute;
  left: 143px;
  top: 650px;
}


.container-2 {
  display: flex;
  gap: 20px;
  position: absolute;
  left: 1648px;
  top: 697px;
}
.container-Box {
  position: relative;
  left:1783px;
  top: 485px;
}

.box-1 {
  background: no-repeat center url(../public/icon/더보기.svg);
  width: 60px;
  height: 60px;
  border: 3px solid white;
}
.box-2 {
  background: no-repeat center url(../public/icon/더보기.svg);
  width: 60px;
  height: 60px;
  border: 3px solid white;
  rotate: 180deg;
  margin-top: -2px;

}


/* header */

.header-Container {
  width: 1920px;
  height: 163px;
  background-color: white;
  /* position: absolute; */
  /* border: 1px solid #000; */
}

.logo-Image {
  background: no-repeat center url(../public/icon/READWE.svg);
  width: 133px;
  height: 22px;
  position: relative;
  top: 70px;
  left: 66px;
}

.header-Container a {
  color: #6B6B6B;
  font-family: Work Sans;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.2px;
  text-decoration: none; 
  outline: none;
}

.container-Link {
  display: flex;
  gap: 45px;
  position: relative;
  left: 470px;
  top: 52px;
}

.container-Link :nth-child(1) {
  color: var(--main-black, #000);
  font-family: "Gotham-Book.ttf",sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.2px;
  
}
.container-Link a:hover {
  color: #E87C3E;
  transform: translateY(5px);
  transition: transform 0.3s, opacity 0.3s;
}

.container-Link a::after {
  transform: translateY(0px);
}


/* 햄버거 버튼 */
button {
  background: none;
  border: 0;
}

.a11y-hidden {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

.btn-allmenu {
  position: relative;
  left: 1750px;
  width: 4.8rem;
  height: 4.8rem;
  overflow: hidden;
  padding: 1.2rem;
  background-color: #000;
}

.btn-allmenu .line {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  transform: rotate(0);
  transition: transform 0.3s;
}   

.btn-allmenu .line span {
  display: inline-block;
  background: rgb(255, 255, 255);
  width: 100%;
  height: 2px;
  position: absolute;
  transition: all 0.3s;
}

.btn-allmenu .line span:nth-child(1) {
  top: 15%;
  left: 0;

}

.btn-allmenu .line span:nth-child(2) {
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  opacity: 1;
}

.btn-allmenu .line span:nth-child(3) {
  bottom: 15%;
  left: 0;
}

/* 전체 메뉴 버튼:hover, active */
.btn-allmenu:hover .line {
  transform: rotate(90deg);
}

.btn-allmenu:active .line {
  transform: rotate(-45deg);
}

.btn-allmenu:hover .line span:nth-child(1),
.btn-allmenu:active .line span:nth-child(1) {
  top: 50%;
  margin-top: -1px;
  transform: rotate(90deg);
}

.btn-allmenu:hover .line span:nth-child(2),
.btn-allmenu:active .line span:nth-child(2) {
  opacity: 0;
}

.btn-allmenu:hover .line span:nth-child(3),
.btn-allmenu:active .line span:nth-child(3) {
  top: 50%;
  margin-top: -1px;
  transform: rotate(-360deg);
}