.box {
  background: var(--main-black, #000);
  width: 1920px;
  height: 859.5px;
  position: absolute;
  font-family: "WorkSans-VariableFont_wght.ttf",sans-serif;

}

.box p {
  color: white;
  font-family: "WorkSans-VariableFont_wght.ttf",sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 2px;
}


.linkedin-Icon {
  background: no-repeat center url(../public/icon/linkedin.svg);
  width: 26px;
  height: 26px;
  border-radius: 50%;
  border:2px solid rgba(255, 255, 255, 0.2);
  padding: 20px;

}

.facebook-Icon {
  background: no-repeat center url(../public/icon/facebook.svg);
  width: 26px;
  height: 26px;
  border-radius: 50%;
  border:2px solid rgba(255, 255, 255, 0.2);
  padding: 20px;
}

.share-Icon {
  background:no-repeat center url(../public/icon/icon1.svg);
  width: 26px;
  height: 26px;
  border-radius: 50%;
  border:2px solid rgba(255, 255, 255, 0.2);
  padding: 20px;

}

.readwe-Right {
  display: inline-block;
  margin-top: 10px;
}


.container-1 {
  position: absolute;
  left: 143px;
  top: 650px;
}


.container-2 {
  display: flex;
  gap: 20px;
  position: absolute;
  left: 1648px;
  top: 697px;
}
.container-Box {
  position: relative;
  left:1763px;
  top: 485px;
}

.box-1 {
  background: no-repeat center url(../public/icon/더보기.svg);
  width: 60px;
  height: 60px;
  border: 3px solid white;
}
.box-2 {
  background: no-repeat center url(../public/icon/더보기.svg);
  width: 60px;
  height: 60px;
  border: 3px solid white;
  rotate: 180deg;
  margin-top: -2px;

}


/* header */

.header-Container {
  width: 1920px;
  height: 163px;
  background-color: white;
  /* position: absolute; */
  /* border: 1px solid #000; */
}

.logo-Image {
  background: no-repeat center url(../public/icon/READWE.svg);
  width: 133px;
  height: 22px;
  position: relative;
  top: 70px;
  left: 66px;
}

.header-Container a {
  color: #6B6B6B;
  font-family: Work Sans;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.2px;
  text-decoration: none; 
  outline: none;
}

.container-Link {
  display: flex;
  gap: 45px;
  position: relative;
  left: 470px;
  top: 52px;
}

.container-Link :nth-child(1) {
  color: var(--main-black, #000);
  font-family: "Gotham-Book.ttf",sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.2px;
  
}
.container-Link a:hover {
  color: #E87C3E;
  transform: translateY(5px);
  transition: transform 0.3s, opacity 0.3s;
}

.container-Link a::after {
  transform: translateY(0px);
}


/* 햄버거 버튼 */
button {
  background: none;
  border: 0;
}

.a11y-hidden {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

.btn-allmenu {
  position: relative;
  left: 1750px;
  width: 4.8rem;
  height: 4.8rem;
  overflow: hidden;
  padding: 1.2rem;
  background-color: #000;
}

.btn-allmenu .line {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  transform: rotate(0);
  transition: transform 0.3s;
}   

.btn-allmenu .line span {
  display: inline-block;
  background: rgb(255, 255, 255);
  width: 100%;
  height: 2px;
  position: absolute;
  transition: all 0.3s;
}

.btn-allmenu .line span:nth-child(1) {
  top: 15%;
  left: 0;

}

.btn-allmenu .line span:nth-child(2) {
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  opacity: 1;
}

.btn-allmenu .line span:nth-child(3) {
  bottom: 15%;
  left: 0;
}

/* 전체 메뉴 버튼:hover, active */
.btn-allmenu:hover .line {
  transform: rotate(90deg);
}

.btn-allmenu:active .line {
  transform: rotate(-45deg);
}

.btn-allmenu:hover .line span:nth-child(1),
.btn-allmenu:active .line span:nth-child(1) {
  top: 50%;
  margin-top: -1px;
  transform: rotate(90deg);
}

.btn-allmenu:hover .line span:nth-child(2),
.btn-allmenu:active .line span:nth-child(2) {
  opacity: 0;
}

.btn-allmenu:hover .line span:nth-child(3),
.btn-allmenu:active .line span:nth-child(3) {
  top: 50%;
  margin-top: -1px;
  transform: rotate(-360deg);
}


/* Input */
input.basic {
  width: 100%;
  height: 80px;
  padding: 30px 24px;
  background-color: #fff;
  box-shadow: 0px 0px 4px 0px rgba(133, 133, 133, 0.25);
  border-radius: 10px;
  font-size: 18px;
  color: #000;
}

.input-label {
  color: #777;
  font-size: 15px;
  font-weight: 400;
}

.input-label input.basic {
  margin-bottom: 15px;
}

.input-icon {
  position: relative;
}

.input-icon .icon {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
}

.input-icon input.basic {
  padding-left: 50px !important;
}

input.basic::placeholder {
  color: #A7A7A7;
}

input.basic:disabled {
  box-shadow: 0px 0px 4px 0px rgba(133, 133, 133, 0.25);
  border: none;
}

input.basic:focus {
  border: none;
  outline: 1px solid #000;
}

input.basic.gray {
  background-color: rgba(167, 167, 167, 0.50);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border: none;
}

input.basic.gray::placeholder {
  color: #fff;
}

input.basic.gray:focus {
  outline: 1px solid #000;
}

input.basic.gray:disabled {
  color: #1212;
}

input.basic.md {
  height: 45px;
}

input.basic.sm {
  height: 34px;
  font-size: 12px;
  padding: 5px 12px;
}

input.basic.xsm {
  height: 24px;
  font-size: 12px;
  padding: 5px 12px;
}


/* login */

.login-Box {
  width: 543px;
}

input#check_btn{

  display:none;
  }

input#check_btn + label{
  display: inline-block;
  margin-top: 24px;
  cursor:pointer;
 }

input#check_btn + label > span{
  vertical-align: middle;
  padding-left: 5px;
  color: #777;
  text-align: center;
  font-family: 'Pretendard',sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.2px;
  text-transform: capitalize;
 }

/* label:before에 체크하기 전 상태 CSS */
input#check_btn + label:before{
  content:"";
  display:inline-block;
  width:17px;
  height:17px;
  border:1px solid #A7A7A7;
  border-radius: 50%;
  vertical-align:middle;
  background-image: url(../public/images/icon/disable-check.svg);
  background-repeat: no-repeat;
  background-position: 50%;
  }
  
/* label:before에 체크 된 상태 CSS */  
input#check_btn:checked + label:before{
  content:"";
  background-color:black;
  border-color: black;
  background-image: url(../public/images/icon/checkbox.svg);
  background-repeat: no-repeat;
  background-position: 50%;
  }




  /* 버튼 */
  /* 버튼 */
button,
input {
  background: none;
  border: none;
  color: inherit;
}


button:enabled {
  cursor: pointer;
}

.button-Basic {
  width: 543px;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
  max-width: 100%;
  height: 80px;
  padding: 0 10px;
  color: #fff;
  font-size: 22px;
  border-radius: 10px;
  background-color: #000;
  text-align: center;
  display: flex;
  align-items:center;
  justify-content: center;
  font-family: 'Pretendard',sans-serif;
  margin-top: 160px;
}

.login-Image {
  background: no-repeat center url(../public/icon/READWE.svg);
  width: 133px;
  height: 22px;
  margin: auto;
  margin-bottom: 132px;
}



/* join */
.join-Box {
  width: 543px;
}

.join-ment {
  color: #777;
  font-family: 'Pretendard',sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.2px;
  text-transform: capitalize;
  margin: 20px 0;
}

.join-PW {
  margin-bottom: 20px;
}

.join-Box h1 {
  color: var(--main-black, #000);
  text-align: center;
  font-family: 'Pretendard',sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.2px;
  text-transform: capitalize;
  margin: 30px 0;
}

.join-Box h3 {
  color: #ABABAB;
  text-align: center;
  font-family: 'Pretendard',sans-serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.2px;
  text-transform: capitalize;
  margin: 0 0 60px 0;
  
}

.join-basic{
  border-radius: 10px;
  cursor:pointer;
  background-color: #D3D3D3;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  width: 543px;
  height: 80px;
  color: rgba(255, 255, 255, 0.80);
  text-align: center;
  font-family: 'Pretendard',sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.2px;
  text-transform: capitalize;
  margin-top: 50px;

}
.join-basic:active {
  background-color: black;
}
.join-basic:hover {
  background-color: black;
}


/*=================icon css=================*/
.icon {
  vertical-align: middle;
  display: inline-flex;
  background-size: contain;
  background-repeat: no-repeat;
}

.icon::before {
  display: inline-block;
  content: '';
  vertical-align: middle;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.icon-setting {
  width: 28px;
  height: 28px;
  background-image: url(/public/images/icon/setting.svg);
}

.icon-dot {
  width: 15px;
  height: 7px;
  background-image: url(/public/images/icon/dot.svg);
}

.icon-user-w {
  width: 16.8px;
  height: 19.2px;
  background-image: url(/public/images/icon/user-w.svg);
}

.icon-lock-w {
  width: 14.4px;
  height: 19.2px;
  background-image: url(/public/images/icon/lock-w.svg);
}

.icon-user-g {
  width: 16.8px;
  height: 19.2px;
  background-image: url(/public/images/icon/user-g.svg);
}

.icon-lock-g {
  width: 14.4px;
  height: 19.2px;
  background-image: url(/public/images/icon/lock-g.svg);
}

.icon-email-w {
  width: 18px;
  height: 13.304px;
  background-image: url(/public/images/icon/email-w.svg);
}

.icon-home {
  width: 18px;
  height: 18px;
  background-image: url(/public/images/icon/home.svg);
}

.icon-chat {
  width: 18px;
  height: 18px;
  background-image: url(/public/images/icon/chat.svg);
}

.icon-book {
  width: 16.985px;
  height: 19.2px;
  background-image: url(/public/images/icon/book.svg);
}

.icon-my {
  width: 17.525px;
  height: 15px;
  background-image: url(/public/images/icon/my.svg);
}

.icon-like {
  width: 25px;
  height: 25px;
  background-image: url(/public/images/icon/like.svg);
}

.icon-like-active {
  width: 25px;
  height: 25px;
  background-image: url(/public/images/icon/like-active.svg);
}

.icon-comment {
  width: 28px;
  height: 28px;
  background-image: url(/public/images/icon/comment.svg);
}

.icon-search {
  width: 22.548px;
  height: 24px;
  background-image: url(/public/images/icon/search.svg);
}

.icon-search-btn {
  width: 15px;
  height: 15px;
  background-image: url(/public/images/icon/search-btn.svg);
}

.icon-share {
  width: 10px;
  height: 13.75px;
  background-image: url(/public/images/icon/share.svg);
}

.icon-star {
  width: 15px;
  height: 15px;
  background-image: url(/public/images/icon/star.svg);
}

.icon-star-active {
  width: 15px;
  height: 15px;
  background-image: url(/public/images/icon/star-active.svg);
}

