body {
  font-family: url(/public/font/Pretendard-Medium.ttf),sans-serif;
  font-size: 16px;

}

* {
  word-break: break-all;
  word-wrap: break-word;
}

button,
input {
  background: none;
  border: none;
  color: inherit;
}


button:enabled {
  cursor: pointer;
}


.login-container {
  width: 543px;
  margin: 0 auto;
  padding: 50px 0px;
  border-radius: 10px;
  margin-top:5%;
  overflow: hidden;
}

label {
  display: block;
  margin-top: 10px;
}

.input-box {
  width: 100%;
  height: 80px;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #C7C7C7;
  border-radius: 10px;
  background-color: #fcfcfc;
}

.input-box:focus {
  outline-color:black;
  background-color: #ffffff;
}

.id {
  background-image: url('/public/images/icon/user.svg');
  background-position: 24px center;
  background-size: 15px;
  background-repeat: no-repeat;
  padding: 5px 20px;
  text-indent: 30px;
}


.pw {
  background-image: url('/public/images/icon/lock-g.svg');
  background-position: 24px center;
  background-size: 15px;
  background-repeat: no-repeat;
  padding: 5px 20px;
  text-indent: 30px;

}

.Loginbutton {
  margin-top: 80px;
  background-color: #000000;
  color: #fff;
  cursor: pointer;
  width: 543px;
  height: 80px;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
  max-width: 100%;
  padding: 0 10px;
  font-size: 22px;
  border-radius: 10px;
  text-align: center;
  display: flex;
  align-items:center;
  justify-content: center;
  font-family: 'Pretendard',sans-serif;
  transition: background-color 0.3s; /* 호버(마우스를 올렸을 때) 효과를 추가합니다 */
}

.Loginbutton:hover {
  background-color: #E87C3E; /* 호버 시 배경색을 어두운 색으로 변경합니다 */
}



.login-container .Find-Id, .account-box, .joinment-box  {
  color: var(--disable-gray-2, #A7A7A7);
  text-align: center;
  font-family: url(/public/font/Pretendard-Medium.ttf),sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.2px;
  text-transform: capitalize;
  margin-bottom: 10px;
  letter-spacing: 1px;

}
.Find-Id {
  display: block;
  margin-top:40px;
}

.account-box {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.joinment-box {
  display: flex;
  gap: 10px;
  justify-content: center;

}

.login-Box {
  width: 543px;
}

input#check_btn{

  display:none;
  }

input#check_btn + label{
  display: inline-block;
  margin-top: 24px;
  cursor:pointer;
}

input#check_btn + label > span{
  vertical-align: middle;
  padding-left: 5px;
  color: #777;
  text-align: center;
  font-family: 'Pretendard',sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.2px;
  text-transform: capitalize;
}

/* label:before에 체크하기 전 상태 CSS */
input#check_btn + label:before{
  content:"";
  display:inline-block;
  width:17px;
  height:17px;
  border:1px solid #A7A7A7;
  border-radius: 50%;
  vertical-align:middle;
  background-image: url(/public/images/icon/disable-check.svg);
  background-repeat: no-repeat;
  background-position: 50%;
  }
  
/* label:before에 체크 된 상태 CSS */  
input#check_btn:checked + label:before{
  content:"";
  background-color:black;
  border-color: black;
  background-image: url(/public/images/icon/checkbox.svg);
  background-repeat: no-repeat;
  background-position: 50%;
  }

.login-Image {
  background: no-repeat center url(/public/icon/READWE.svg);
  width: 133px;
  height: 22px;
  margin: auto;
  margin-bottom: 80px;
}


.email {
  background-image: url(/public/images/icon/maiI.svg);
  background-position: 24px center;
  background-size: 15px;
  background-repeat: no-repeat;
  padding: 5px 20px;
  text-indent: 30px;
  
}


.email-image {
  background-image: url(/public/icon/apple.png);
  width: 50px;
  height: 50px;
  background-position: center;
  background-size: 55px;
  background-repeat: no-repeat;
  padding: 5px 20px;
  border-radius: 50px;
  background-color: linear-gradient(180deg, rgba(29,87,239,1) 0%, rgba(26,226,255,1) 100%);
}

.kakao-image {
  background-image: url(/public/icon/kakaotalk_sharing_btn_medium.png);
  width: 50px;
  height: 50px;
  background-position: center;
  background-size: 35px;
  background-repeat: no-repeat;
  padding: 5px 20px;
  border-radius: 50px;
  background-color: #ffeb03;
}

.naver-image {
  background-image: url(/public/icon/naver.png);
  width: 50px;
  height: 50px;
  background-position: center;
  background-size: 50px;
  background-repeat: no-repeat;

}

.toemail, .id-login{
  display: block;
  font-weight: 600;
  color: #535353;
  margin-top: 50px;
  font-size: 18px;
  line-height: 28px;
}

.email-login {
  margin-top: 20px;
}


.id-login {
  font-size: 14px;
  display: block;
  margin-bottom: 20px;
  width: 25%;
  margin: auto;
  padding: 10px 20px;
  background-color: #ee9f71; /* 버튼 배경색을 원하는 색상으로 설정 */
  color: #fff; /* 버튼 텍스트 색상을 밝은 색상으로 설정 */
  text-decoration: none;
  border-radius: 5px; /* 버튼 모서리를 둥글게 만듭니다 */
  transition: background-color 0.3s; /* 호버(마우스를 올렸을 때) 효과를 추가합니다 */
  margin-top: 40px;
}

.id-login:hover {
  background-color: #E87C3E; /* 호버 시 배경색을 어두운 색으로 변경합니다 */
}



.Find-Id, .join-ment {
  font-size: 14px;
}


.login-line {
  margin-top: 40px;
  display: inline-block;
  width: 80%; /* 원하는 길이로 설정 */
  border-bottom: 1px solid #000; /* 선의 두께와 색상을 설정 */
}

.line-container{
  display: flex;
  justify-content: center; 
  align-items: center;
}


.toemail {
  margin-bottom: 30px;
}

.ment-1 {
  display: block;
  position: relative;
  padding-left: 12px;
  margin-top: 20px;
  font-size: 14px;
  line-height: 22px;
  color: #A7A7A7;

}


/* finish Page */


.loginfinish-container {
    width: 543px;
    margin: 0 auto;
    padding: 50px 0px;
    border-radius: 10px;
    margin-top:5%;
    overflow: hidden;
}

.loginfinish-container h1{
  color: var(--main-black, #000);
  text-align: center;
  font-family: 'Pretendard',sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.2px;
  text-transform: capitalize;
  margin: 10px 0;
}

.loginfinish-container .lgn-p {
  color: #ABABAB;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.2px;
  text-transform: capitalize;
}

.lgn-link {
  width: 543px;
  height: 136px;
  flex-shrink: 0;
  border-radius: 15px;
  border: 1px solid var(--main-black, #000);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin: 26px 0;
}

.lgn-icon,.lgn-icon-1 {
  background-image: url('/public/icon/3dicons.png');
  background-position: center;
  background-size: 70px;
  background-repeat: no-repeat;
  width: 67px;
  height: 67px;
  }

  .lgn-icon-1 {
    background-image: url('/public/icon/3dicons-1.png');
    
  }

  .lgn-ment p{
    margin: 10px 0;
  }

  .lgn-ment :nth-child(1) {
    color: rgba(0, 0, 0, 0.80);
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.2px;
    text-transform: capitalize;
  }

  .lgn-ment :nth-child(2) {
    color: #ABABAB;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.2px;
    text-transform: capitalize;
  }

  /* 꼬불이 */
  .lgn-img1 {
    position: relative;
    top: 1312px;
    left: 187px;
    background-position: center;
    background-size: 500px;
    width: 290px;
    height: 444px;
    background: url(/public/images/Image.png);
    background-position: center;
    background-size: 500px;
    width: 290px;
    height: 444px;
    background-repeat: no-repeat;
  }

  /* 물결 */
  .lgn-img2 {
    position: relative;
    top: 1547px;
    right: -1400px;
    background: url(/public/images/Image-1.png);
    background-position: center;
    width: 400px;
    height: 400px;
    transform: rotate(0deg);
    background-size: 200px;
    background-repeat: no-repeat;
  }

  /* 도넛 */
  .lgn-img3 {
    position: relative;
    top: -500px;
    left: -145px;
    background-size: 500px;
    background: url(/public/images/Image-2.png);
    background-position: contain;
    width: 611px;
    height: 612px;
    background-repeat: no-repeat;

  }
  /* & */
  .lgn-img4 {
    position: relative;
    top: -1300px;
    right: -1400px;
    background: url(/public/images/Image-3.png);
    background-position: center;
    width: 400px;
    height: 400px;
    transform: rotate(0deg);
    background-size: 200px;
    background-repeat: no-repeat;

  }


  .lgn-img1,
  .lgn-img2,
  .lgn-img3,
  .lgn-img4 {
    position: absolute;
  }
  
    /* 꼬불이 */
  .lgn-img1 {
    top: 1321px;
    left: 187px;
    background-image: url('/public/images/Image.png');
    z-index: 1;
  }
  
    /* 물결 */
  .lgn-img2 {
    top: 1547px;
    right: -140px;
    background-image: url('/public/images/Image-1.png');
    /* 나머지 스타일 속성들 */
  }
  
  /* 도넛 */
  .lgn-img3 {
    top: 500px;
    left: -175px;
    background-image: url('/public/images/Image-2.png');
    /* 나머지 스타일 속성들 */
  }
  
  /* & */
  .lgn-img4 {
    top: 500px;
    right: -140px;
    background-image: url('/public/images/Image-3.png');
    /* 나머지 스타일 속성들 */
  }
