.pageWrap {
  width: calc(100% - 50px);
  max-width: 1180px;
  margin: 0 auto;
}
.contentArea {
  width: 100%;
  padding: 35px;
}
/* 마이페이지*/
.pageTitle {
  display: inline-block;
  position: relative;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 40px;
}
.pageTitle::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  height: 13px;
  background-color: #8DA3CD80;
  width: 100%;
}
.big-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 15px;
}
.profile-parent {
  flex-shrink: 0;
  width: 100%;
  max-width: 280px;
  height: 664px;
}
.profile-parent button {
  transition: background-color 0.3s;
}
.profile-parent button:active {
  background-color: #E87C3E; 
}
.profile-parent button:hover {
  background-color: #E87C3E; 
}
.profile-parent.loading {
  border: 1px solid #D9D9D9;
  border-radius: 28px;
  padding: 50px 20px;
  text-align: center;
  height: 300px;
}
.my-note {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 10px;
  gap: 10px;
  border-bottom: 1px solid #a7a7a7;
}
.left {
  color: #A7A7A7;
}
.center {
  font-weight: bold;
  font-size: 24px;
  padding-top: 10px;
}
.right {
  font-weight: bold;
}
.list-parent {
  width: 100%;
}
.list-parent.loading {
  padding: 50px;
  text-align: center;
}

/*팔로우,팔로워 리스트*/
.tabBtn {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  padding-bottom: 30px;
  border-bottom: 1px solid #a7a7a7;
}
.accSum {
  padding: 30px 10px;
  width: 100%;
  text-align: center;
  font-size: 20px;
}
.accSum i {
  margin-right: 10px;
}
.userList {
  height: calc(100vh - 400px);
  padding-right: 20px;
}
.userList li {
  margin-bottom: 12px;
}
.userList li:hover .userListObj {
  box-shadow: 3px 3px 6px 0px rgba(0, 0, 0, 0.2);
}
.userList li:hover .userListObj .accImg>img {
  scale: 120%;
}
.userList li:hover .userListObj .leftObj p {
  font-size: 18px;
}
.userListObj{
  padding: 15px 50px 15px 30px;
  align-items: center;
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  border-radius: 15px;
  border: 1px solid #a7a7a7;
  transition: all 0.3s;
}
.userListObj .accImg {
  width: 66px;
  height: 66px;
  border-radius: 100px;
  border: 1px solid #ddd;
  overflow: hidden;
}
.userListObj .accImg>img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.3s;
}
.userListObj .leftObj {
  width: 100%;
  display: flex;
  gap: 20px;
  align-items: center;
  font-size: 12px;
  font-weight: 700;
}
.userListObj .leftObj p {
  font-size: 16px;
  transition: all 0.4s;
}
.userListObj .leftObj span {
  color: #a7a7a7;
}

/*내 서재*/
.myPageTopBanner,
.myLibraryTopBanner {
  position: relative;
  width: 100%;
  padding: 30px 200px 30px 30px;
  background-color: #000;
  border-radius: 15px;
  color: #fff;
  margin-bottom: 40px;
}
.myPageTopBanner>img {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 300px;
}
.myLibraryTopBanner>img {
  position: absolute;
  right: 0;
  top: 30%;
  width: 200px;
  transform: translateY(-50%);
}
.myPageTopBanner>strong,
.myLibraryTopBanner>strong {
  font-size: 16px;
  font-weight: 700;
}
.myPageTopBanner>p,
.myLibraryTopBanner>p {
  padding-top: 5px;
  font-size: 12px;
  font-weight: 400;
}
.topArea {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 20px;
}
.myLibraryBoxBlack {
  width: 100%;
}
.myLibraryBoxBlack>h4 {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 10px;
}
.myLibraryMonth {
  display: flex;
  gap: 8px;
}
.myLibraryMonth>li {
  padding: 25px 20px;
  width: 100%;
  background-color: #000;
  border-radius: 15px;
  color: #fff;;

}
.myLibraryMonth>li>div {
  padding-top: 15px;
  text-align: right;
}
.myLibraryMonth>li .counter {
  font-weight: 700;
  font-size: 30px;
  color: #D7D7D7;
  padding-right: 10px;
}
.myLibraryMonth>li.nowMonth .counter {
  color: #E87C3E;
}
.myLibraryBox {
  width: 100%;
  padding: 30px 40px;
  border-radius: 15px;
  border: 1px solid #DDD;
  background: #FFF;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.10);

}
.myLibraryBox>h4 {
  font-size: 18px;
  font-weight: 700;
  padding-bottom: 12px;
  margin-bottom: 12px;
  color: #E87C3E;
  border-bottom: 1px solid #ddd;
}
.btnWrap {
  display: flex;
  gap: 12px;
  margin-bottom: 20px;
}
.mybookList {
  display: flex;
  flex-wrap: wrap;
  gap: 18px;
}
.mybookList .mybookListObj {
  width: 150px;
}
.mybookList .mybookListObj .mybookListObjImg {
  width: 100%;
  height: 196px;
  overflow: hidden;
  border-radius: 7px;
  border: 1px solid #D9D9D9;
  background-color: #a7a7a7;
  margin-bottom: 12px;
}
.mybookList .mybookListObj .mybookListObjImg>img {
  width: 100%;
  min-height: 196px 
}
.mybookList .mybookListObj>p {
  text-align: center;
  font-size: 14px;
  font-weight: 800;
  overflow:hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.myLibraryLoading {
  padding: 30px;
  text-align: center;
}

/*프로필 수정 추가*/
.edit-area {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.edit-area button:enabled {
  transition: background-color 0.3s;
}
.edit-area button:enabled:active {
  background-color: #E87C3E; 
}
.edit-area button:enabled:hover {
  background-color: #E87C3E; 
}

.imgChange-area {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.imgChange-area .img-box {
  width: 148px;
  height: 148px;
  border-radius: 100%;
  overflow: hidden;
  border: 1px solid #D9D9D9;
}
.imgChange-area .img-box>img {
  min-width: 148px;
  height: 100%;
}
.input-label {
  display: block;
  margin-bottom: 10px;
  color: #A7A7A7;
}
.input-alert {
  display: block;
  margin-top: 10px;
  color: #f15434;
}

/* 반응형 처리 */
@media (max-width: 770px) {
  .big-container {
    flex-direction: column;
  }
  .profile-parent  {
    max-width: 100%;
  }
}


